<div class="min-h-screen bg-[#e5d6c4] flex flex-col justify-center items-center relative overflow-hidden">
  <div class="absolute left-0 top-0 w-1/2 h-full bg-gradient-to-r from-black/80 via-black/30 to-transparent"></div>
  <div class="relative z-10 w-full h-full flex flex-col items-center ">
    <div class="flex flex-col items-center justify-center">
      <h2 class="text-6xl md:text-7xl font-bold text-[#7a2323] font-anton tracking-tight mb-8 text-center">TABLE OF<br />CONTENTS</h2>
      <div class="mt-4 text-3xl md:text-4xl font-light text-black font-publicsans_thin tracking-tight text-left w-[400px] max-w-full">
        <div>Version Control<span class="ml-4">..........2</span></div>
        <div>Table of Contents<span class="ml-4">..........3</span></div>
        <div>Introduction<span class="ml-4">..........4</span></div>
        <div>Portfolio<span class="ml-4">..........5</span></div>
        <div>Project<span class="ml-4">..........6</span></div>
        <div>Burden of proof<span class="ml-4">..........7</span></div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center px-4 mt-8 w-full">
    <a [routerLink]="['/version']">
      <img src="/arrowright.svg" alt="Back" class="w-12 h-12 rotate-180 cursor-pointer" />
    </a>
    <a [routerLink]="['/']">
      <img src="/arrowright.svg" alt="Forward" class="w-12 h-12 cursor-pointer" />
    </a>
  </div>
</div>
